p-card {
  margin: 2px;
}

.chat-main {
  min-height: 600px;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.msg-content {
  height: 500px;
  width: 100%;
  background: lightgray;
  border-radius: 12px 12px 0 0;
  padding: 5px;
}

.user-input {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background: wheat;
  border-radius: 0 0 12px 12px;
  padding: 5px;
}

p {
  text-indent: 2em;
}
